<h2>Introduce una string en el campo y averigua si los paréntesis están balanceados.</h2>
<br>
<form class= "a" action="/answer">
  <input type="text" name="answer">
  <input type="submit" value="¿Balanceado?">
</form>
