<div class="container-box">
  <h1>¿Paréntesis balanceados?</h1>
  <div class="flexbox">
    <div class="container">
      <p>¿No te pasa que te duelen los ojos cuando ves un mensaje con paréntesis desbalanceados? A nosotros los programadores, puede llegar a causarnos un dolor de cabeza ver un whatsapp como "gracias por eso :)))", "me encantaría ir (pero no creo que pueda :(", o "estoy trabajando (en lo que me pediste (pero no terminaré hoy:()".
    Para peor, con los emoticones, se hace difícil saber si un mensaje tiene los paréntesis balanceados.</p>
      <p>Un mensaje tiene los paréntesis balanceados cuando cumple una de las siguientes reglas:</p>
    <ol>
    <li>Es un mensaje vacío</li>
    <li>Contiene sólo una o más repeticiones de las letras "a" a la "z", espacio " ", o dos puntos ":"</li>
    <li>Comienza por un paréntesis de apertura "(", seguido de un mensaje con paréntesis balanceados, seguido de un paréntesis de cierre ")"</li>
    <li>Es un mensaje con paréntesis balanceados seguido de otro mensaje con paréntesis balanceados</li>
    <li>Es un emoticón feliz ":)" o uno triste ":("</li>
    </ol>
    </div>
    <div class="container2">
      <%= render partial: 'questions/ask' %>
    </div>
  </div>
</div>
